body {
    text-align: center;
}

a {
    font-size: 40px;
    font-weight: bolder;
    background-color: rgb(4, 173, 69);
    color: burlywood;
    border: 5px solid rgb(234, 78, 21);
    border-radius: 10px;
    border-style: groove;
}

div {
    border: 5px solid white;
    border-radius: 10px;
    border-style: groove;
    background-color: goldenrod;
}